DB_HOST=db_host
DB_USER=db_user
DB_PASS=
DB_NAME=db_name

GOOGLE_CLIENT_ID=GOOGLE_CLIENT_ID.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOOGLE_CLIENT_SECRET
GOOGLE_REDIRECT_URI=http://localhost/yourproject/oauth_callback.php